  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

  * {
      font-family: 'Work Sans', sans-serif;
      margin: 0;
      padding: 0;
  }

  header {
      background: rgba(255, 144, 14, 0.10);
  }

  nav ul li {
      list-style: none;
      margin-right: 40px;



  }

  nav>ul {
      display: flex;
      align-items: center;
  }

  nav ul a {
      text-decoration: none;
      color: var(--dark-02, #424242);

  }

  nav h2 {
      font-size: 45px;
      color: #131313;
      text-align: center;
      font-weight: 700;

  }

  nav {
      padding: 60px;
      display: flex;
      justify-content: space-between;


  }

  /* banner content */

  .banner {
      text-align: center;
  }

  .banner-content {
      width: 800px;
      text-align: center;
      margin: 0 auto;
  }

  .banner-content>h1 {
      font-size: 4rem;
      font-weight: 700;
  }

  .small {
      color: #727272;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      margin-top: 30px;


  }

  .btn {
      cursor: pointer;
      font-size: 20px;

      color: white;
      width: 180px;
      height: 64px;
      border-radius: 8px;
      border: 0;
      background: #FF900E;
      margin-top: 50px;
  }

  .banner-img>img {
      margin-top: 50px;
      margin-bottom: 45px;
      width: 100%;
  }

  /* main-section */
  main {
      margin: 0 auto;
  }

  .team-img {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

  }

  .feature-container {
      margin-top: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 70px;
  }

  .text-color {
      color: #FF900E;
      font-weight: 600;
  }

  .title-color {
      color: #727272;

  }

  .feature-title {
      font-size: 45px;
      font-weight: 500;
      width: 468px;
  }

  .feature-desc {
      width: 537px;
      color: var(--dark-03, #727272);
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
  }

  /* feature section 2 */
  .feature-container2 {
      display: flex;
      justify-content: space-around;
      gap: 50px;
      margin: 140px 240px;

  }

  .left-1>h2 {
      width: 468px;
      color: #131313;
      font-size: 35px;
      font-weight: 700;
      margin-bottom: 10px;

  }

  .left-1>p {
      width: 586px;
      color: #727272;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;

  }

  .feature-box {
      width: 586px;
      height: 140px;
      margin-top: 30px;

      border-radius: 8px;
      background: #FFF;
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);

  }

  .box-title {
      color: #131313;
      font-size: 20px;
      font-weight: 600;

  }

  .box-desc {
      color: var(--dark-03, #727272);
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      margin-top: 10px;

  }

  .btn-large {
      width: 342px;
      height: 200px;
      color: #FFF;
      text-align: center;
      margin-top: -60px;
      margin-right: 40px;

  }

  .right{
    border: 1px solid tomato;
  }
  .right>img {
      width: 708px;
      height: 982px;
  }

  .large-txt {
      color: #FFF;
      text-align: center;
      font-size: 65px;
      font-weight: 700;
      line-height: 70px;
  }



  /* responsive making */
  /* mobile device */
  @media screen and (max-width:576px) {


      .banner-content {
          width: 100%;
          text-align: center;
          margin: 0 auto;
      }

      nav {

          flex-direction: column;
      }

      nav h2 {
          margin-bottom: 20px;
      }

      .team-img {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 10px;

      }

      .feature-container {
          flex-direction: column-reverse;

      }

      .team-content {
          width: 100%;
      }

      .feature-desc,
      .feature-title {
          width: 100%;

      }



  }

  /* mobile device */

  /* tablet device */
  @media screen and (min-width:577px) and (max-width:960px) {

      nav {
          flex-direction: column;
          align-items: center;
      }

      nav h2 {
          margin-bottom: 20px;
      }

      .banner-content {
          width: 100%;
          text-align: center;
          margin: 0 auto;
      }

      .feature-container {
          flex-direction: column-reverse;

      }
  }